
/* title bar */

	.title_bar {
		width:954px;
		float:left;
	}

	.nouser {
				background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 85%, #7890cd 100%, #b6caff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(85%,#ffffff), color-stop(100%,#7890cd), color-stop(100%,#b6caff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 85%,#7890cd 100%,#b6caff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 85%,#7890cd 100%,#b6caff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 85%,#7890cd 100%,#b6caff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 85%,#7890cd 100%,#b6caff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b6caff',GradientType=0 ); /* IE6-9 */
	}
	
	.title_bar h1 {
		color:#153179;
		font-size:25px;
		text-align:center;
		padding:10px 0;
		
	}
	
	.tagline {
		opacity:0.6;
		filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	
	
/* Slideshow */

	#slideshow img {
		position:absolute;
		top:0px;
		left:0px;
		z-index:8;
		border-radius: 5px 0 0 5px !important;
		border: 1px solid #acacac;
	}

	#slideshow img.active {
		z-index:10;
	}

	#slideshow img.last-active {
		z-index:9;
	}

	
/* top content */

	.content_box {
		position:relative;
		height:320px;
		width:960px;
		float:left;
		border-bottom: 2px solid #acacac;
		margin:20px 0;

	}


	.top_text {	
/*		position:absolute;
		top:0px;
		left:626px;*/
		float:right;
		background-color:#f8f8f8;
		padding:10px;
		width:320px;
		height:300px;
		z-index:11;
		border: 1px solid #acacac;
		border-radius: 0 5px 5px 0;
		margin:0;
	}
	
	.top_text li {
		font-size:16px;
		font-weight:bold;
		padding:5px 0;
	}

	.top_text p {
		font-size:22px;
	}
	
	/*.top_text h1 {
		font-size:22px;
		color:#7890cd;
		font-weight:bold;
		text-align:center;
		text-decoration:underline;
	}

	.top_text h2 {
		font-size:20px;
		color:#7890cd;
		font-weight:bold;
		text-align:center;
	}*/
	
	.top_text ul {
		padding:0px 10px 0px 20px;
		margin:0px;
		width:40%;
	}

	
	.servicebox {
		width:958px;
		background-color:#e8eaf1;
		border-bottom: 1px solid #acacac;
	}

	.servicebox h2 {
		/* padding-top:10px; */
		font-size:20px;
		color:#153179;
		font-weight:bold;
		text-align:center;
	}

	
	.servicebox form {
		width:320px;
		overflow:auto;
		margin:40px 0;
/*		background-color: red;*/
	}

	.servicebox input {
		height:25px;
		width:298px;
	}

	.servicebox input, textarea {
		border:1px solid rgb(202, 202, 202) !important;
		border-radius: 3px;
		box-shadow: 2px 2px 2px #CCCCCC;
		margin:0 10px;

	}

	.form-button {
		width:120px !important;
		padding:10px;
		height:auto !important;
		margin-bottom: 30px;
	}

	.send {
		color:#FFFFFF;
		background-color: rgba(59, 95, 189, 0.78);
		font-weight: bold;

	}

	.send:hover {
		background-color: rgb(131, 131, 255);
	}

	
	.servicebox form h2 {
		color:red;
	}

	.servicebox label {
		margin:0 10px;
	}
	
	.servicebox textarea {
		padding:4px;
		width:290px;
		height:180px;
	}
	
	.sbox_text {
		width:634px;

	}
	
	.underline {
		text-decoration:underline;
	}


	.merit_h {
		font-size:20px;
		font-weight:bold;
		font-style:italic;
		color:#405da9;
	}
	
	.merit_name {
		text-align:right;
		margin-top:10px;
		font-style:italic;
	}
	
	.merit_name .merit_h {
		padding-left:15px;
	}
	
	.merits {


		padding:40px 80px;
		float:right;
		width:478px;
		line-height: 1.8em;
	}
	
	.mertis h2 {

	}
		
	.lrg_text {
		overflow:auto;
		width:614px;
		padding:10px;
	}
	
	.lrg_text h3 a {
		font-size:16px;
		text-decoration:none;
	}
	
	.lrg_text ul {
		width:260px;
		margin:0px;
		padding-left:30px;

	}
	
	.btest {
		background-color:#e7eeff;
		width:720px;
		margin:0 120px;
		overflow:auto;
	}

	.btest ul {
		width:320px;
		padding-left:30px;
	}

	.btest li {
		margin:10px 0;
	}
	
	.lrg_text li {
		margin-top:8px;
		margin-bottom:8px;
		font-size:16px;
		font-weight:bold;
	}
	
	.full-text {
		width:958px;
	}
	
	.sml_text {
		padding:10px;
		overflow:auto;
		width:298px;
		background-color:#f8f8f8;

	}
	
	/*.sml_text h2 {
		color:#153179;
		font-size:20px;
		text-align:center;
	}*/ 
	
	.icon {
		margin: 0px 4px 0px 4px;	
		padding:0px;
	}
	
	.icon-card {
		width:148px;
		height:190px;
		float:left;
		margin:10px;
		padding:10px;
		background-color: rgba(238, 238, 238, 0.86);
		border: 1px solid #CCCCCC;
		box-shadow: 2px 2px 2px #CCCCCC;
		border-radius: 5px;
	}

	.icon-card p {
		text-align: center;
	}

	.icon li:hover {
		background-color:#efefef;
	}
	
	.icon img {
		margin:7px;
		padding-right:5px;
		display:block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	
	}


	.absolute {
		position: absolute;
		z-index: 11;
		right:0;
	}